html, body, div#app {
  height: 100%;
}

body {
  padding: 10px;
}

th.header-toggled {
  background-color: green;
}

h3 {
  text-align: center;
}

.player-select-container {
  height: 40px;
}

.player-column {
  text-align: center;
  font-size: 20px;
}

.calendar-header {
  text-align: center;
}

.calendar {
  border: solid #ddd 1px;
  margin-top: 10px;
  overflow: scroll;
  height: calc(100% - 120px);
}

.calendar-day {
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  height: 138px;
  transition: all .25s ease;
  padding-top: 22px;
}

.calendar-day.calendar-today {
  border-width: 2px;
  border-color: rgb(20, 38, 152);
}

.calendar-day:hover {
  border-color: rgb(32, 159, 26)
}

.calendar-day.ians-house {
  background-color: rgba(106, 204, 17, 0.25);
}

.calendar-day .day-title {
  position: absolute;
  right: 5px;
  text-align: right;
  top: 2px;
  transition: all .25s ease;
}
.calendar-day .day-title:hover {
  border-radius: 50px;
  color: blue;
  font-size: 22px;
}

.badge {
  cursor: pointer;
  position: relative;
  transition: all .25s ease;
}

.badge-purple {
  background-color: rgb(114, 43, 138);
  color: white;
}

.badge-brown {
  background-color: rgb(105, 73, 61);
  color: white;
}

.badge-counter {
  font-size: 14px;
}

.player-column .badge.selected {
  font-size: 28px;
}

[v-cloak] {
  display: none;
}
